.cw-container {
    background-color: #f8f8f8;
    font-family: 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', arial, 'microsoft yahei', sans-serif;
    font-size: 14px;
    min-width: 850px;
}

.cw-wrapper-container {
    background-color: #FFFFFF;
    margin: 75px auto 40px;
    width: 700px;
    min-width: 700px;
    height: 100%;
    box-shadow: 0 4px 14px 5px rgba(166, 166, 177, 0.07);
}

.cw-wrapper-container a {
    color: #17B1F7;
    text-decoration: none;
}

.cw-logo {
    padding-top: 33px;
    padding-left: 90px;
}

.cw-slogan {
    margin: 30px auto;
}

.cw-slogan1 {
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
    color: #17B1F7;
}

.cw-slogan2 {
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    font-size: 30px;
    text-align: center;
    color: #666666;
}

.cw-slogan2 p {
    margin: 0 0;
}

.cw-banner {
    margin-top: 40px;
}

.cw-body {
    color: #666666;
    line-height: 24px;
    margin: 58px 90px 40px;
}

.cw-body p {
    margin-bottom: 25px;
}

.cw-speical-btn {
    background-color: #17B1F7;
    margin: 0 auto;
    width: 246px;
    height: 40px;
    margin-bottom: 40px;
    border-radius: 2px;
}

.cw-speical-btn a {
    display: block;
    color: white;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
}

.cw-info {
    margin: 0 90px;
    color: #666666;
}

.cw-info p {
    line-height: 18px;
    margin-bottom: 12px;
}

.cw-info a {
    text-decoration: underline;
}

.cw-signature {
    margin: 84px 90px 43px;
}

.cw-signature .cw-username {
    font-size: 24px;
    color: #333333;
    margin-bottom: 14px;
    height: 28px;
}

.cw-signature .cw-title {
    color: #666666;
    height: 18px;
    margin-bottom: 11px;
}

.cw-signature .cw-site {}

.cw-footer {
    margin: 0 auto 33px;
    min-width: 700px;
    text-align: center;
}

.cw-footer .cw-footer-slogan {
    font-size: 24px;
    color: #333333;
    line-height: 40px;
    margin-bottom: 13px;
}

.cw-footer .cw-footer-sent {
    line-height: 17px;
    color: #A6A6A6;
}

.cw-footer .cw-footer-unsubscribe {
    line-height: 17px;
    color: #A6A6A6;
}

.cw-footer .cw-footer-unsubscribe a {
    color: #A6A6A6;
    text-decoration: underline;
}

@media(max-width: 768px) {
    .cw-container {
        font-size: 22px;
        line-height: 38px;
    }
    .cw-speical-btn {
        width: 520px;
        height: 50px;
    }
    .lina-speical-btn a {
        font-size: 22px;
        line-height: 50px;
    }
    .cw-body p {
        margin-bottom: 32px;
    }
    .cw-body {
        line-height: 40px;
    }
    .cw-info p {
        line-height: 28px;
    }
    .cw-footer .cw-footer-unsubscribe {
        line-height: 30px;
    }
}